body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 320px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

select {
    width: 100%;
    margin-top: 10px;
}

.concluido {
    text-decoration: line-through;
    color: gray;
}
